aniso8601==8.0.0
click==7.1.2
Deprecated==1.2.13
Flask==1.1.2
Flask-Limiter==1.1.0
Flask-RESTful==0.3.8
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
limits==2.7.0
MarkupSafe==1.1.1
packaging==21.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2020.1
six==1.15.0
typing_extensions==4.3.0
Werkzeug==1.0.1
wrapt==1.14.1
